@font-face {
  font-family: 'ambleregular';
  src: url("Amble-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Amble-Regular-webfont.woff") format("woff"), url("Amble-Regular-webfont.ttf") format("truetype"), url("Amble-Regular-webfont.svg#ambleregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'amblebold';
  font-weight: normal;
  font-style: normal;
  src: url("Amble-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Amble-Bold-webfont.woff") format("woff"), url("Amble-Bold-webfont.ttf") format("truetype"), url("Amble-Bold-webfont.svg#amblebold") format("svg"); }
