/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://fonts.gstatic.com/s/montserrat/v10/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(http://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

.nohighlight, body nav .navItem, body header, body .main .landing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

::-webkit-scrollbar {
  width: 0.75rem;
  background: #424242; }

::-webkit-scrollbar-track {
  background: #424242; }

::-webkit-scrollbar-track-piece {
  background: #424242; }

::-webkit-scrollbar-thumb {
  background: #888888; }

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background: #333; }
  body .loading {
    height: 100%;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0; }
    body .loading img {
      height: 128px;
      width: 128px;
      position: absolute;
      top: calc(50% - 56px);
      left: calc(50% - 56px); }
  body nav {
    display: none;
    height: calc(100% - 4rem);
    padding-top: 8rem;
    width: calc(100%);
    position: fixed;
    z-index: 1;
    background: black;
    background: -webkit-linear-gradient(top left, red, indigo, purple);
    background: -o-linear-gradient(bottom left, red, indigo, purple);
    background: -moz-linear-gradient(bottom left, red, indigo, purple);
    background: linear-gradient(from top left, red, indigo, purple);
    overflow: auto; }
    body nav .navItem {
      height: calc(33.333%);
      width: 100%;
      display: block;
      float: left;
      font-weight: bold;
      font-size: 3rem;
      font-style: italic;
      color: #ffda44;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
    body nav .navItem:hover {
      color: white;
      text-decoration: underline; }
  body header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 3.95rem;
    width: 100%;
    background: black;
    background: -webkit-linear-gradient(135deg, transparent, transparent);
    background: -moz-linear-gradient(135deg, transparent, transparent);
    background: -o-linear-gradient(135deg, transparent, transparent);
    background: linear-gradient(135deg, transparent, transparent);
    overflow: hidden; }
    body header a {
      height: 2rem;
      width: 2rem;
      padding: 1rem 1rem 1rem 0;
      display: block;
      float: left;
      cursor: pointer;
      text-align: center;
      color: #ffda44;
      text-decoration: none; }
      body header a svg g path {
        fill: #ffda44; }
    body header a:hover {
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;
      color: white; }
      body header a:hover svg g path {
        -webkit-transition: fill 0.2s;
        -moz-transition: fill 0.2s;
        -o-transition: fill 0.2s;
        transition: fill 0.2s;
        fill: white; }
    body header .social svg {
      height: 100%;
      width: 100%; }
    body header .social:first-child {
      padding: 1rem; }
    body header .name {
      height: 2rem;
      width: calc(100% - 13rem - 3.25rem - 1.25rem);
      font-size: 2rem;
      font-weight: bold;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      body header .name .first {
        display: inline-block;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      body header .name .last {
        display: inline-block;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
    body header .navTrigger {
      font-size: 2rem;
      font-weight: bold;
      float: right;
      color: #ffda44;
      padding: 1rem;
      cursor: pointer; }
    body header .navTrigger:hover {
      color: white;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  body .main {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: auto; }
    body .main .landing {
      height: 100%;
      width: 100%;
      cursor: default; }
      body .main .landing .background {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -2;
        background: url(http://deepduggal.me/res/img/planning.jpeg);
        background-size: cover;
        overflow: hidden; }
      body .main .landing .dim {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        background: black;
        background: -webkit-linear-gradient(top left, red, indigo, purple);
        background: -o-linear-gradient(bottom left, red, indigo, purple);
        background: -moz-linear-gradient(bottom left, red, indigo, purple);
        background: linear-gradient(from top left, red, indigo, purple);
        opacity: 0.5; }
      body .main .landing .content {
        position: absolute;
        overflow: hidden;
        color: white; }
        body .main .landing .content .quote:before {
          content: '"'; }
        body .main .landing .content .quote:after {
          content: '"'; }
        body .main .landing .content .name {
          text-align: right; }
        body .main .landing .content .name:before {
          content: '- '; }
      body .main .landing .addthis_inline_share_toolbox {
        position: fixed;
        bottom: 0;
        right: 1rem;
        z-index: 2; }

@media (min-width: 320px) {
  body header .name {
    font-size: 2rem; }
    body header .name .first {
      width: 1.6rem; }
    body header .name .last {
      width: 1.6rem; }
  .landing .content {
    position: absolute;
    z-index: 1;
    top: 3.95rem;
    height: calc(100% - 3.95rem - 2rem);
    width: calc(100% - 2rem);
    padding: calc(1rem) 1rem 1rem 1rem;
    overflow: hidden; }
    .landing .content .quote {
      font-size: 2rem; }
    .landing .content .name {
      font-size: 2.3rem; } }

@media (min-width: 769px) {
  body header .name {
    font-size: 2rem; }
    body header .name .first {
      width: 5.5rem; }
    body header .name .last {
      width: 9rem; }
  .landing .content {
    height: calc(100% - 4rem - 3.95rem);
    width: calc(100% - 4rem);
    padding: 2rem 2rem 2rem 2rem; }
    .landing .content .quote {
      font-size: 2.5rem; }
    .landing .content .name {
      font-size: 2.3rem; } }
