html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #C63717;
  color: #F6F8E2;
}
body nav {
  height: auto;
  width: 100%;
  min-height: 1em;
  padding: 1% 0 1% 0;
  background-color: #343434;
  font-size: 100%;
}
body nav a {
  display: block;
  text-decoration: none;
  float: left;
  line-height: 75%;
  width: 15%;
  margin: 0 5% 0 5%;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #F6F8E2;
  text-align: center;
  font-weight: bold;
}
body nav a:hover {
  color: #EDA61A;
  padding-bottom: 0.3em;
  border-bottom: 0.25em solid #EDA61A;
}
body .main {
  height: 80%;
  width: 90%;
  padding: 0.75em;
  font-family: "Open Sans", Helvetica, sans-serif;
}

body .main form input{
  font-family: "Open Sans", Helvetica, sans-serif;
}

.form-group {
  width: 100%;
  max-width: 368px;
  padding: 3%;
}

.form-group > input, .form-group > label {
  width: 100%;
  float: left;
  font-weight: bold;
  min-height: 1em;
}

.form-group > input {
  margin-bottom: 1.1em;
  min-height: 1.1em;
}

.bttn {
  color: #F6F8E2;
  background-color: #343434;
  text-align: center;
  width: auto; !important
  padding: 0 0.5em 0 0.5em;
}

.bttn:hover {
  color: #EDA61A;
}
