/*** VARIABLES ***/
/*** CSS ***/
body * {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}
body nav {
  height: 10%;
  width: 100%;
}
body nav a {
  display: block;
  color: white;
  text-decoration: none;
  float: left;
  height: 100%;
  width: 25%;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}
body nav a:hover {
  background-color: #555;
  border-bottom: red;
}
