@font-face {
  font-family: 'Amble';
  src: url('Amble-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amble';
  font-weight: normal;
  font-style: normal;
  src: url('Amble-Bold-webfont.woff') format('woff');
}