@import 'colors';

.nohighlight {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
@mixin size($height: 100%, $width: 100%) {
  height: $height;
  width: $width;
}
@mixin transition($attr: all, $time: 0.1s) {
  -webkit-transition: $attr $time;
  -moz-transition: $attr $time;
  -o-transition: $attr $time;
  transition: $attr $time;
}