@import 'helpers', 'scrollbar', 'montserrat', 'loading', 'header', 'navbar';
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background: #333;
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .main {
    @include size(100%, 100%);
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;

    .landing {
      @include size();
      @extend .nohighlight;
      cursor: default;
      
      .background {
        @include size();
        position: absolute;
        z-index: -2;
        background: url(res/img/devices.jpeg) center center no-repeat;
        background-size: cover;
        overflow: hidden;
        @include transition(all, 1s);
      }
      .dim {
        @include size();
        position: absolute;
        z-index: -1;
        background: black;
        opacity: 0.4;
      }
      .content {
        position: absolute;
        overflow: hidden;
        color: white;
      }
      .addthis_inline_share_toolbox {
        position: fixed;
        bottom: 0;
        right: 1rem;
        z-index: 2;
      }
    }
    .landing:hover, .landing:focus, .landing:active {
      .background{
        @include transition(all, 60s);
        -webkit-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
      }
    }
  }
}
//Tablets and Phones
@media (min-width: 320px) {
  body header .name {
    font-size: 2rem;

    .first {
      width: 1.6rem;
    }
    .last {
      width: 1.6rem;
    }
  }
  .landing .content {
    position: absolute;
    z-index: 1;
    top: 3.95rem;
    height: calc(100% - 3.95rem);
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    .header {margin-bottom: 0.5rem; font-size: 2.3rem;}
    .subheader {margin-bottom: 1rem; font-size: 1.3rem;}
    
    p {
      margin: 0;

      a, a:visited {
        color: white;
      }
    }
  }
}
//Desktop
@media (min-width: 769px) {
  body header .name {
    font-size: 2rem;

    .first {
      width: 5.5rem;
    }
    .last {
      width: 9rem;
    }
  }
  .landing .content {
    height: calc(100% - 3.95rem);
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    .header {font-size: 3rem;}
    .subheader {font-size: 1.75rem;}
  }
}
@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}