@import 'helpers', 'scrollbar', 'montserrat', 'loading', 'header', 'navbar';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  .main {
    @include size(100%, 100%);
    position: fixed;
    top: 0;
    overflow: auto;

    .addthis_inline_share_toolbox {
      position: fixed;
      bottom: 0;
      right: 1rem;
      z-index: 2;
    }
  }
}
//Tablets and Phones
@media (min-width: 320px) {
  body header .name {
    font-size: 2rem;

    .first {
      width: 1.6rem;
    }
    .last {
      width: 1.6rem;
    }
  }
  .landing .content {
    position: absolute;
    z-index: 1;
    top: 3.95rem;
    height: calc(100% - 3.95rem - 2rem);
    width: calc(100% - 2rem);
    padding: calc(1rem) 1rem 1rem 1rem;
    overflow: hidden;
  }
}
//Desktop
@media (min-width: 769px) {
  body header .name {
    font-size: 2rem;

    .first {
      width: 5.5rem;
    }
    .last {
      width: 9rem;
    }
  }
  .landing .content {
    height: calc(100% - 4rem - 3.95rem);
    width: calc(100% - 4rem);
    padding: 2rem 2rem 2rem 2rem;
  }
}