@import 'helpers';

body nav {
    display: none;
    height: calc(100% - 4rem);
    padding-top: 8rem; 
    width: calc(100%);
    position: fixed;
    z-index: 1;
    background: $gray;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(from top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    overflow: auto;

    .navItem {
      height: calc(33.333%);
      width: 100%;
      display: block;
      float: left;
      font-weight: bold;
      font-size: 3rem;
      font-style: italic;
      color: $yellow;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      @include transition();
      @extend .nohighlight;
    }
    .navItem:hover {
      color: white;
      text-decoration: underline;
    }
  }