@import 'colors', 'rounded-scrollbar', 'vertical-navbar';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: white;
  animation: appear 2s;
}

h1 {
  font-size: 4em;
  font-size: 6vw;
}
h2 {
  font-size: 2.5em;
  font-size: 3.8vw;
}
a {
  color: white;
  text-decoration: underline;
}
a:visited {
  color: white;
}

a:hover, a:active {
  color: #F48FB1;
  cursor: pointer;
}

body {
  background-color: #E91E63;
  color: #F6F8E2;
  font-family: 'Lato', Helvetica, Verdana, sans-serif;
  overflow-x: hidden;

  h1 {
    text-align: center;
  }

}