@import 'helpers';

body {
  .main {
    section.spotlight {
      @include size();
      color: black;
      
      .spotlightBlock {
        @include size();

        .spotlightItem {
          display: block;
          float: left;
          overflow: hidden;
          color: black;
          text-decoration: none;
          
          .header {
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
          }
          .subheader {
            width: 100%;
            text-transform: uppercase;
          }
          img {
            margin-top: 1rem;
            background: url(http://deepduggal.me/res/img/loading.gif) center center no-repeat;
            object-fit: cover;
          }
        }
        .spotlightItem:hover {
          cursor: pointer;
          
          .header, .subheader {
            text-decoration: underline;
            color: white;
            @include transition(color, 0.25s);
          }
        }
      }
    }
  }
}
//Tablets and Phones
@media (min-width: 0px) {
  section.spotlight .spotlightItem {
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    
    .subheader {
      font-size: 1rem;
      // font-size: 1.1vw;
    }
    .header {
      font-size: 1.71rem;
      // font-size: 2vw;
    }
    img {
      max-height: calc(100% - 1rem - 1.71rem - 1rem);
      width: 100%;
    }
  }
  //Long, Center, Pink
  .spotlightItem:nth-child(1), {
    background: $pink;
  }
  //Square, Center, Blue
  .spotlightItem:nth-child(2), {
    background: $blue;
  }
  //Wide, Right, Red
  .spotlightItem:nth-child(3), {
    background: $red;
  }
  //Square, Center, Yellow
  .spotlightItem:nth-child(4), {
    background: $orange;
  }
  //Wide, Left, Green
  .spotlightItem:nth-child(5), {
    background: $green;
  }
}
//Desktop
@media (min-width: 769px) {
  .spotlightItem {
    .header {
      font-size: 2.5rem;
    }
    .subheader {
      font-size: 1.5rem;
    }
    img {
      max-height: calc(100% - 1rem - 2.5rem - 1.5rem);
      width: 100%;
    }
  }
  .spotlightBlock {
    .spotlightItem:nth-child(1) {
      @extend .tall;
    }
    .spotlightItem:nth-child(2) {
      @extend .square;
    }
    .spotlightItem:nth-child(3) {
      @extend .wide;
    }
    .spotlightItem:nth-child(4) {
      @extend .wide;
    }
    .spotlightItem:nth-child(5) {
      @extend .square;

      .header {
        text-align: left;
      }
      .subheader {
        text-align: left;
      }
      .img {
        width: 100%;
      }
    }
  }

  // For SCSS inheritance (@extend)
  .tall {
    @include size(100%, 25%);
    text-align: center;
  }
  .wide {
    @include size(50%, 50%);
  }
  .square {
    @include size(50%, 25%);
    text-align: center;
  }
}