@import 'helpers';

body {
  .main {
    section.spotlight {
      @include size();
      color: black;
      
      .spotlightBlock {
        @include size();

        .spotlightItem {
          display: block;
          float: left;
          overflow: hidden;
          padding: 2rem;
          color: black;
          text-decoration: none;
          
          .header {
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
          }
          .subheader {
            width: 100%;
            text-transform: uppercase;
          }
          img {
            margin-top: 1rem;
            object-fit: cover;
            background: url(http://deepduggal.me/res/img/loading.gif);
          }
        }
        .spotlightItem:hover {
          cursor: pointer;
          
          .header, .subheader {
            text-decoration: underline;
            color: white;
            @include transition(color, 0.25s);
          }
        }
      }
    }
  }
}
//Tablets and Phones
@media (min-width: 320px) {
  section.spotlight .spotlightItem {
    width: calc(100% - 4rem);
    
    .subheader {
      font-size: 1rem;
    }
    .header {
      font-size: 2rem;
    }
    img {
      max-height: calc(100% - 1rem - 2rem - 1rem);
      width: 100%;
    }
  }
  //Long, Center, Pink
  .spotlightItem:nth-child(10n-9), .spotlightItem:nth-child(10n) {
    background: #f04576;
  }
  //Square, Center, Blue
  .spotlightItem:nth-child(10n-8), .spotlightItem:nth-child(10n-2) {
    background: #53a2e3;
    width: 50%;
  }
  //Wide, Right, Red
  .spotlightItem:nth-child(10n-7), .spotlightItem:nth-child(10n-4) {
    background: #ef4658;
    width: 25%;
  }
  //Square, Center, Yellow
  .spotlightItem:nth-child(10n-6), .spotlightItem:nth-child(10n-1) {
    background: #f4ad49;
    width: 25%;
  }
  //Wide, Left, Green
  .spotlightItem:nth-child(10n-5), .spotlightItem:nth-child(10n-3) {
      background: #69de92;
      width: 50%;
      
      .header {
        text-align: left;
      }
      .subheader {
        text-align: left;
      }
      .img {
        width: 100%;
      }
    }
}
//Desktop
@media (min-width: 769px) {
  .spotlightItem {
    .header {
      font-size: 2.5rem;
    }
    .subheader {
      font-size: 1.5rem;
    }
    img {
      max-height: calc(100% - 1rem - 2.5rem - 1.5rem);
      width: 100%;
    }
  }
  .spotlightBlock {
    .spotlightItem:nth-child(1) {
      @extend .tall;
      background: $pink;
    }
    .spotlightItem:nth-child(2) {
      @extend .square;
      background: $blue;

      img {
        max-height: 65%;
        width: 100%;
      }
    }
    .spotlightItem:nth-child(3) {
      @extend .wide;
      background: $red;
    }
    .spotlightItem:nth-child(4) {
      @extend .wide;
      background: $orange;
    }
    .spotlightItem:nth-child(5) {
      @extend .square;
      background: $green;

      .header {
        text-align: left;
      }
      .subheader {
        text-align: left;
      }
      .img {
        width: 100%;
      }
    }
  }
  .spotlightBlock:nth-child(2n) {
    .spotlightItem:nth-child(1) {
      @extend .square;
      background: $blue;
    }
    .spotlightItem:nth-child(2) {
      @extend .wide;
      background: $red;

      .header {
        text-align: left;
      }
      .subheader {
        text-align: left;
      }
      .img {
        width: 100%;
      }
    }
    .spotlightItem:nth-child(3) {
      @extend .wide;
      background: $orange;

      img {
        max-height: 65%;
        width: 100%;
      }
    }
    .spotlightItem:nth-child(4) {
      @extend .square;
      background: $green;
    }
    .spotlightItem:nth-child(5) {
      @extend .tall;
      background: $pink;
      position: absolute;
      right: 0;
    }
  }

  // For SCSS inheritance (@extend)
  .tall {
    @include size(calc(100% - 4rem), calc(25% - 4rem));
    text-align: center;
  }
  .wide {
    @include size(calc(50% - 4rem), calc(50% - 4rem));
  }
  .square {
    @include size(calc(50% - 4rem), calc(25% - 4rem));
    text-align: center;
  }
}
