//Montserrat Font
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v10/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

$yellow: #ffda44;
$yellowDark: #FFCF11;
$pink: #f04576;
$blue: #53a2e3;
$red: #ef4658;
$orange: #f4ad49;
$green: #69de92;

.nohighlight {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
@mixin size($height: 100%, $width: 100%) {
  height: $height;
  width: $width;
}
@mixin transition($attr: all, $time: 0.1s) {
  -webkit-transition: $attr $time;
  -moz-transition: $attr $time;
  -o-transition: $attr $time;
  transition: $attr $time;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

//CSS
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background: #333;

  .loading {
    height: 100%;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    img {
      height: 128px;
      width: 128px;
      position: absolute;
      top: calc(50% - 56px);
      left: calc(50% - 56px);
    }
  }
  nav {
    display: none;
    height: calc(100% - 4rem - 8rem);
    padding: 4rem; 
    width: calc(100% - 8rem);
    position: fixed;
    top: 3.95rem;
    z-index: 1;
    background: black;
    overflow: auto;
    animation: disappear 0.15s, appear 0.15s;

    .navItem {
      height: calc(33.333% - 3rem);
      width: 100%;
      box-sizing: border-box;
      display: block;
      float: left;
      font-weight: bold;
      font-size: 3rem;
      font-style: italic;
      color: $yellow;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      @include transition();
      @extend .nohighlight;
    }
    .navItem:hover {
      color: white;
      text-decoration: underline;
    }
  }

  header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 3.95rem;
    width: 100%;
    background: black;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    overflow: hidden;
    @extend .nohighlight;

    a {
      height: 2rem;
      width: 2rem;
      padding: 1rem 1rem 1rem 0;
      display: block;
      float: left;
      cursor: pointer;
      text-align: center;
      color: $yellow;
      text-decoration: none;
      
      svg {
        g {
          path {
            fill: $yellow;
          }
        }
      }
    }
    a:hover {
      @include transition(color, 0.2s);
      color: white;
      
      svg {
        g {
          path {
            @include transition(fill, 0.2s);
            fill: white;
          }
        }
      }
    }
    .social {
      svg {
        height: 100%;
        width: 100%;
      }
    }
    .social:first-child {
      padding: 1rem;
    }
    .name {
      height: 2rem;
      width: calc(100% - 13rem - 3.25rem - 1.25rem);
      font-size: 2rem;
      font-weight: bold;
      @include transition(all, 0.2s);

      .first {
        display: inline-block;
        overflow: hidden;
        @include transition(all, 0.5s);
      }
      .last {
        display: inline-block;
        overflow: hidden;
        @include transition(all, 0.5s);
      }
    }
    .navTrigger {
      font-size: 2rem;
      font-weight: bold;
      float: right;
      color: $yellow;
      padding: 1rem;
      cursor: pointer;
    }
    .navTrigger:hover {
      color: white;
      @include transition(all, 0.2s);
    }
  }
  .main {
    @include size(calc(100%), 100%);
    position: fixed;
    top: 0;
    overflow: auto;

    .landing {
      height: 100%;
      width: 100%;
      @extend .nohighlight;
      cursor: default;
      
      .background {
        position: absolute;
        z-index: -2;
        height: 100%;
        width: 100%;
        background: url(http://deepduggal.me/res/img/planning.jpeg);
        background-size: cover;
        overflow: hidden;
      }
      .dim {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        background: black;
        background: -webkit-linear-gradient(top left, red, indigo, purple);
        background: -o-linear-gradient(bottom left, red, indigo, purple);
        background: -moz-linear-gradient(bottom left, red, indigo, purple);
        background: linear-gradient(from top left, red, indigo, purple);
        opacity: 0.5;
      }
      .content {
        position: absolute;
        overflow: hidden;
        font-weight: bolder;
        font-style: italic;
        color: white;
      }
      .addthis_inline_share_toolbox {
        position: fixed;
        bottom: 0;
        right: 1rem;
      }
    }
    section.spotlight {
      @include size();
      color: black;
      
      .spotlightBlock {
        @include size();

        .spotlightItem {
          display: block;
          float: left;
          overflow: hidden;
          padding: 2rem;
          @include transition(all, 1s);
          
          .header {
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
          }
          .subheader {
            width: 100%;
            text-transform: uppercase;
          }
          img {
            margin-top: 1rem;
            object-fit: cover;
          }
        }
        .spotlightItem:hover {
          cursor: pointer;
          
          .header, .subheader {
            text-decoration: underline;
            color: white;
            @include transition(color, 0.25s);
          }
        }
      }
    }
  }
}

//Tablets and Phones
@media (min-width: 320px) {
  body header .name {
    font-size: 2rem;

    .first {
      width: 1.6rem;
    }
    .last {
      width: 1.6rem;
    }
  }
  .landing .content {
    position: absolute;
    z-index: 1;
    top: 3.95rem;
    height: calc(100% - 3.95rem - 2rem);
    width: calc(100% - 2rem);
    padding: calc(1rem) 1rem 1rem 1rem;
    overflow: hidden;

    .header {margin-bottom: 0.5rem; font-size: 2.3rem;}
    .subheader {margin-bottom: 1rem; font-size: 1.3rem;}
    form.userInfo {
      margin: 1rem 0 0 0;

      input {
        margin: 0.5rem 0 0 0;
      }
      input[type="text"] {
        width: calc(100% - 1rem);
        border-radius: 0.5rem;
        padding: 0.5rem;
        outline: none;
      }
    }
    p {
      margin: 0;

      a, a:visited {
        color: white;
      }
    }
  }
  section.spotlight .spotlightItem {
    width: calc(100% - 4rem);
    
    .subheader {
      font-size: 1rem;
    }
    .header {
      font-size: 2rem;
    }
    img {
      max-height: calc(100% - 1rem - 2rem - 1rem);
      width: 100%;
    }
  }
  //Long, Center, Pink
  .spotlightItem:nth-child(10n-9), .spotlightItem:nth-child(10n) {
    background: #f04576;

    .button {
      margin-top: 25%;
    }
  }
  //Square, Center, Blue
  .spotlightItem:nth-child(10n-8), .spotlightItem:nth-child(10n-2) {
    background: #53a2e3;
    width: 50%;
  }
  //Wide, Right, Red
  .spotlightItem:nth-child(10n-7), .spotlightItem:nth-child(10n-4) {
    background: #ef4658;
    width: 25%;
  }
  //Square, Center, Yellow
  .spotlightItem:nth-child(10n-6), .spotlightItem:nth-child(10n-1) {
    background: #f4ad49;
    width: 25%;
  }
  //Wide, Left, Green
  .spotlightItem:nth-child(10n-5), .spotlightItem:nth-child(10n-3) {
      background: #69de92;
      width: 50%;
      
      .header {
        text-align: left;
      }
      .subheader {
        text-align: left;
      }
      .img {
        width: 100%;
      }
    }
}

//Desktop
@media (min-width: 769px) {
  body header .name {
    font-size: 2rem;

    .first {
      width: 5.5rem;
    }
    .last {
      width: 9rem;
    }
  }
  .landing .content {
    width: calc(100% - 4rem);
    padding: 2rem 2rem 2rem 2rem;

    .header {font-size: 3rem;}
    .subheader {font-size: 1.75rem;}
  }
  .spotlightItem {
    .header {
      font-size: 2.5rem;
    }
    .subheader {
      font-size: 1.5rem;
    }
    img {
      max-height: calc(100% - 1rem - 2.5rem - 1.5rem);
      width: 100%;
    }
  }
  .spotlightBlock {
    .spotlightItem:nth-child(1) {
      @extend .tall;
      background: $pink;
    }
    .spotlightItem:nth-child(2) {
      @extend .square;
      background: $blue;

      img {
        max-height: 65%;
        width: 100%;
      }
    }
    .spotlightItem:nth-child(3) {
      @extend .wide;
      background: $red;
    }
    .spotlightItem:nth-child(4) {
      @extend .wide;
      background: $orange;
    }
    .spotlightItem:nth-child(5) {
      @extend .square;
      background: $green;

      .header {
        text-align: left;
      }
      .subheader {
        text-align: left;
      }
      .img {
        width: 100%;
      }
    }
  }
  .spotlightBlock:nth-child(2n) {
    .spotlightItem:nth-child(1) {
      @extend .square;
      background: $blue;
    }
    .spotlightItem:nth-child(2) {
      @extend .wide;
      background: $red;

      .header {
        text-align: left;
      }
      .subheader {
        text-align: left;
      }
      .img {
        width: 100%;
      }
    }
    .spotlightItem:nth-child(3) {
      @extend .wide;
      background: $orange;

      img {
        max-height: 65%;
        width: 100%;
      }
    }
    .spotlightItem:nth-child(4) {
      @extend .square;
      background: $green;
    }
    .spotlightItem:nth-child(5) {
      @extend .tall;
      background: $pink;
      position: absolute;
      right: 0;
    }
  }

  // For SCSS inheritance (@extend)
  .tall {
    @include size(calc(100% - 4rem), calc(25% - 4rem));
    text-align: center;
  }
  .wide {
    @include size(calc(50% - 4rem), calc(50% - 4rem));
  }
  .square {
    @include size(calc(50% - 4rem), calc(25% - 4rem));
    text-align: center;
  }
}

// Animations
@keyframes appear{
  from{opacity: 0; display: none;}
  to{opacity: 1; display: block;}
}
@keyframes disappear{
  from{opacity: 1; display: block;}
  to{opacity: 0; display: none;}
}