%html
  /[if lte IE 8]
    <h1>Your Browser is out of date. Please switch to a modern browser <a href="https://www.google.com/chrome/browser">here.</a><h1>
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      About Deep Duggal
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89293172-1', 'auto');
      ga('send', 'pageview');
    %link{:rel=>"stylesheet", :href=>"https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"}
    %link{:rel=>"stylesheet", :href=>"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"}
    %link{:rel=>"stylesheet", :href=>"http://fonts.googleapis.com/css?family=Lato"}
    %link{:rel=>"stylesheet", :href=>"http://deepduggal.me/css/about.css"}
  %body
    %nav
      %a.home.bttn.active{:href=>"#"}
        %i.fa.fa-home.fa-lg
        Home
      %a.portfolio.bttn{:href=>"#projects"}
        %i.fa.fa-code.fa-lg
        Portfolio
      %a.about.bttn{:href=>"about.html"}
        %i.fa.fa-smile-o.fa-lg
        About
      %a.contact.bttn{:href=>"#contactForm"}
        %i.fa.fa-envelope-o.fa-lg
        Contact
    .main
      %h1.animated.pulse.infinite Hi! I'm Deep Duggal!
      %h2
        I'm a front end dev who's obsessed with making websites. I'm looking for work as a Front End Developer in the United States (with a preference for Raleigh and New York). I want to learn as much as I can by being around smart people and working on tough challenges. Let's figure out whether we're a good fit for each other: 
        %a{:href=>"mailto:deep@deepduggal.me"} deep@deepduggal.me