html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  text-align: center;
  background-color: orange;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

body h1 {
  height: 1em;
  margin: 0.5rem;
}

body img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

body h3 {
  width: 100%;
  position: fixed;
  top: calc(50% - 1.6em);
  left: 0;
  font-size: 20em;
}