!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0", :name => "viewport"}
    %title
      Welcome!
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lora", :rel => "stylesheet"}
    %link{:href => "css/index.css", :rel => "stylesheet"}
%body
  .music.bttn MUSIC
  .loading 
    %h1.title
      ICONIC
      %span.episode-title EPISODE 1
    %h2.subject Richard Branson
  .main#barba-wrapper
    .barba-container
      .intro
        %img.background{:src=>"http://vmagazine.com/wp-content/uploads/2016/06/richard-branson-header-1.jpg"}
        .dim
        .foreground
          %h1 RICHARD BRANSON
          .menu
            %a{:href=>"childhood"} CHILDHOOD
            %a{:href=>"childhood/#business"} BUSINESS
            %a{:href=>"childhood/#theman"} THE MAN
  / %script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"}
  %script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"}
  %script{:src=>"js/index-dist.js"}